<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="mx.com.gunix.adminapp.domain.persistence.AplicacionMapper">
	<select id="getByExample" resultMap="aplicacionMap">
		Select ACL_ID as ID,ID_APLICACION, DESCRIPCION, ICONO from SEGURIDAD.APLICACION
		<where>
			<if test="descripcion != null">
				<bind name="descripcionLike" value="'%' + _parameter.getDescripcion() + '%'" />
				AND DESCRIPCION LIKE #{descripcionLike}
			</if>
			<if test="idAplicacion != null">
				<bind name="idAplicacionLike" value="'%' + _parameter.getIdAplicacion() + '%'" />
				AND ID_APLICACION LIKE #{idAplicacionLike}
			</if>
		</where>
	</select>
	<resultMap id="aplicacionMap" type="mx.com.gunix.framework.security.domain.Aplicacion">
		<id property="id" column="ID" />
		<result column="ID_APLICACION" property="idAplicacion" />
		<result column="DESCRIPCION" property="descripcion" />
		<result column="ICONO" property="icono" />
	</resultMap>

	<update id="update">
		UPDATE SEGURIDAD.APLICACION
		SET
		<foreach collection="cambios" index="key" item="value" open="" separator=" , " close="">
			<if test="key == 'descripcion' || key == 'icono'">
				${key}=#{value}
			</if>
		</foreach>
		<where>
			<foreach collection="idMap" index="key" item="value" open="" separator=" AND " close="">
				<choose>
					<when test="key == 'idAplicacion'">
						ID_APLICACION
					</when>
					<when test="key == 'id'">
						ACL_ID
					</when>
				</choose>
				=#{value}
			</foreach>
		</where>
	</update>
</mapper>