<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="mx.com.gunix.adminapp.domain.persistence.UsuarioAdminMapper">
	<insert id="insertaUsuario">
		INSERT INTO SEGURIDAD.USUARIO (ID_USUARIO,PASSWORD,ESTATUS) 
		VALUES(#{idUsuario},#{encodePassword},				
				<choose>
					<when test="bloqueado == true">
						'BLOQUEADO'
					</when>
					<when test="eliminado == true">
						'ELIMINADO'
					</when>
					<when test="activo == true">
						'ACTIVO'
					</when>
				</choose>)
	</insert>
	<select id="getDetalleUById" resultMap="usuarioAdminMap">
		SELECT U.ID_USUARIO AS ID_USUARIO ,PASSWORD,NOMBRE,AP_PATERNO,AP_MATERNO, 
		       CASE WHEN ESTATUS = 'ACTIVO' THEN true ELSE false END AS ACTIVO, 
		       CASE WHEN ESTATUS = 'BLOQUEADO' THEN true ELSE false END AS BLOQUEADO, 
		       CASE WHEN ESTATUS = 'ELIMINADO' THEN true ELSE false END AS ELIMINADO,
		       CURP,RFC,CORREO_ELECTRONICO,TELEFONO
		from SEGURIDAD.USUARIO U LEFT JOIN SEGURIDAD.DATOS_USUARIO DU ON (U.ID_USUARIO = DU.ID_USUARIO) 
		WHERE U.ID_USUARIO = #{idUsuario}
	</select>	
	<select id="getByExample" resultMap="usuarioAdminMap">
		SELECT U.ID_USUARIO AS ID_USUARIO ,PASSWORD,NOMBRE,AP_PATERNO,AP_MATERNO, 
		       CASE WHEN ESTATUS = 'ACTIVO' THEN true ELSE false END AS ACTIVO, 
		       CASE WHEN ESTATUS = 'BLOQUEADO' THEN true ELSE false END AS BLOQUEADO, 
		       CASE WHEN ESTATUS = 'ELIMINADO' THEN true ELSE false END AS ELIMINADO,
		       CURP,RFC,CORREO_ELECTRONICO,TELEFONO
		from SEGURIDAD.USUARIO U LEFT JOIN SEGURIDAD.DATOS_USUARIO DU ON (U.ID_USUARIO = DU.ID_USUARIO) 
		<where>
			<if test="idUsuario != null">
				<bind name="idUsuarioLike" value="'%' + _parameter.getIdUsuario() + '%'" />
				AND U.ID_USUARIO LIKE #{idUsuarioLike}
			</if>
			<if test="datosUsuario != null and datosUsuario.curp !=null ">
				AND DU.CURP = #{datosUsuario.curp}
			</if>
		</where>
	</select>
	<select id="getRolAppUsuario" resultMap="rolAppUsuarioMap">
		SELECT UR.ID_USUARIO AS ID_USUARIO, UR.ID_APLICACION AS ID_APLICACION,
			   UR.ID_ROL AS ID_ROL, R.DESCRIPCION AS DESCRIPCION 
	    FROM SEGURIDAD.USUARIO_ROL UR INNER JOIN SEGURIDAD.ROL R ON (UR.ID_ROL = R.ID_ROL AND UR.ID_APLICACION = R.ID_APLICACION) 
	    WHERE UR.ID_USUARIO=#{idUsuario} AND UR.ID_APLICACION =#{idAplicacion}
	</select>		
	
	<resultMap id="usuarioAdminMap" type="mx.com.gunix.framework.security.domain.Usuario">
		<id property="idUsuario" column="ID_USUARIO" />
		<result column="PASSWORD" property="password" />		
		<result column="ACTIVO" property="activo" />
		<result column="BLOQUEADO" property="bloqueado" />
		<result column="ELIMINADO" property="eliminado" />
		<association property="datosUsuario" javaType="mx.com.gunix.framework.security.domain.DatosUsuario">
			<id property="nombre" column="NOMBRE" />
			<id property="apPaterno" column="AP_PATERNO" />
			<id property="apMaterno" column="AP_MATERNO" />
			<id property="curp" column="CURP" />
			<id property="rfc" column="RFC" />
			<id property="correoElectronico" column="CORREO_ELECTRONICO" />
			<id property="telefono" column="TELEFONO" />
		</association>
	</resultMap>
	<resultMap id="usuarioIDMap" type="mx.com.gunix.framework.security.domain.Usuario">
		<id property="idUsuario" column="ID_USUARIO" />
	</resultMap>
	<resultMap id="appUsuarioMap" type="mx.com.gunix.framework.security.domain.Aplicacion">
		<result column="ID_APLICACION" property="idAplicacion" />
		<result column="ACL_ID" property="id" />
		<result column="DESCRIPCION" property="descripcion" />
		<result column="ICONO" property="icono" />
	</resultMap>
	
	<resultMap id="rolAppUsuarioMap" type="mx.com.gunix.framework.security.domain.Rol">
		<result column="ID_ROL" property="idRol" />
		<result column="DESCRIPCION" property="descripcion" />
	</resultMap>
	
	<update id="updateUsuario">
		UPDATE SEGURIDAD.USUARIO SET ESTATUS = 
		<choose>
			<when test="activo == true">
						'ACTIVO'
			</when>
			<when test="eliminado == true">
						'ELIMINADO'
			</when>
			<when test="bloqueado == true">
						'BLOQUEADO'
			</when>
		</choose>
		<where>
				ID_USUARIO = #{idUsuario}
		</where>
	</update>
	<update id="updateDatosUsuario">
		UPDATE SEGURIDAD.DATOS_USUARIO SET
			CURP = #{datosUsuario.curp},
			RFC = #{datosUsuario.rfc} ,
			AP_PATERNO = #{datosUsuario.apPaterno} ,
			<if test="datosUsuario.apMaterno != null">
				AP_MATERNO = #{datosUsuario.apMaterno},
			</if>
			<if test="datosUsuario.apMaterno == null">
				AP_MATERNO = NULL,
			</if>
			NOMBRE = #{datosUsuario.nombre},
			CORREO_ELECTRONICO = #{datosUsuario.correoElectronico},
			<if test="datosUsuario.telefono != null">
				TELEFONO =  #{datosUsuario.telefono}
			</if>
			<if test="datosUsuario.telefono == null">
				TELEFONO = NULL
			</if>
		<where>
				ID_USUARIO = #{idUsuario}
		</where>
	</update>
</mapper>	
	