@mixin gunix {
  @include valo;
  
  .v-table.v-table-error{
		background-color: rgba(255,0,0,0.1);
	}

	.v-table-row-bean-error{
	    background-color: rgba(255, 0, 0, 0.33);
	}	

  .v-button-link.v-disabled.xbreadcrumbbutton{
  	opacity: 1;
	filter: alpha(opacity=100);
  }
  
  .v-caption.v-caption-moduleImageButton{
  	top: 0 !important;
    left: 26% !important;
  }
  
  .invisibleDownloadButton{
  	display: none;
  }
  
  .app-title{
	font-size: 32px;
    font-weight: bold;
    margin-left: 15px;
  }
  
  .user-id-label{
  	text-align: right;
  }
  
  .padding-top-header{
  	margin-top: 5px;
  }
  
  .descargas-button{
    padding: 0px;
    font-weight: bold;
  }
}
