@mixin gunix {
  @include valo;
  
  .v-table.v-table-error{
		background-color: rgba(255,0,0,0.1);
	}

  .v-button-link.v-disabled.xbreadcrumbbutton{
  	opacity: 1;
	filter: alpha(opacity=100);
  }
  
  .v-caption.v-caption-moduleImageButton{
  	top: 0 !important;
    left: 26% !important;
  }
}
