@import '../gunix/styles/app-styles.css';
@import "variables";
@import "gunix";

.gunix {
   @include gunix;
	
	.v-gridlayout-slot {
		display: table;
		padding-top: 0px !important;
	} 
	   
   .v-image-moduleImageButton {
		cursor:pointer;cursor:hand;
		display: table-header-group;
	}
	.v-caption-moduleImageButton{
		display: table-header-group;
		text-align: center;
		position: relative !important;
	}
}