/.project
/.classpath
/.settings/
/target/
framework-backEnd-persistence/.classpath
framework-backEnd-persistence/.project
framework-backEnd-persistence/.settings/
framework-backEnd-persistence/target/
framework-backEnd-persistence-oracle11g/.classpath
framework-backEnd-persistence-oracle11g/.project
framework-backEnd-persistence-oracle11g/.settings/
framework-backEnd-persistence-oracle11g/target/
archetype/.classpath
archetype/.project
archetype/.settings/
archetype/target/
framework-backEnd/.classpath
framework-backEnd/.project
framework-backEnd/.settings/
framework-backEnd/target/
framework-backEnd-persistence-shared/.classpath
framework-backEnd-persistence-shared/.project
framework-backEnd-persistence-shared/.settings/
framework-backEnd-persistence-shared/target/
framework-commons/.classpath
framework-commons/.project
framework-commons/.settings/
framework-commons/target/
framework-commons-logicaldoc/.classpath
framework-commons-logicaldoc/.project
framework-commons-logicaldoc/.settings/
framework-commons-logicaldoc/target/
framework-vista/.classpath
framework-vista/.project
framework-vista/.settings/
framework-vista/target/
sso-gateway/.classpath
sso-gateway/.project
sso-gateway/.settings/
sso-gateway/target/
framework-backEnd-persistence-oracle11g/.classpath
framework-backEnd-persistence-oracle11g/.project
framework-backEnd-persistence-oracle11g/.classpath
framework-backEnd-persistence-oracle11g/.classpath
framework-backEnd-persistence-oracle11g/.project
/framework-commons-alfresco/*.classpath
/framework-commons-alfresco/*.gitignore
/framework-commons-alfresco/*.project
/framework-commons-alfresco/.settings/
