<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mx.com.gunix.framework.activiti.persistence.entity.VariableInstanceMapper">
	<sql id="constantes">
		<bind name="DOUBLE_KEY" value="'double_'"/>
		<bind name="LONG_KEY" value="'long_'"/>
		<bind name="TEXT_KEY" value="'text_'"/>
		<bind name="GUNIX_OBJECT" value="'gunix-serializable'"/>
		<bind name="NOT_GUNIX_OBJECT_TYPES" value="'\'string\',\'long\',\'double\',\'date\',\'serializable\',\'longString\',\'boolean\',\'integer\',\'float\''"/>
	</sql>
	<sql id="likeVarName">
		<bind name="singleVarName" value="varName + '%'"/>
		<bind name="arrayVarName" value="varName + '[%'"/>
		<bind name="mapVarName" value="varName + '(%'"/>
	</sql>
	<select id="findGunixObjectByNameAndExecutionIdAndRevision" resultType="map">
		<include refid="constantes"/>
		<include refid="likeVarName"/>
		SELECT
			  id_ ,
			  rev_ ,
			  name_ as key,
			  ${DOUBLE_KEY},
			  ${LONG_KEY},
			  text_||COALESCE(text2_,'') as ${TEXT_KEY} 
			FROM
			  ACTIVITI.ACT_RU_VARIABLE
			WHERE
			  EXECUTION_ID_ = #{executionId} and TASK_ID_ is null and REV_ >= #{revision}
			AND type_ in (${NOT_GUNIX_OBJECT_TYPES}) and (name_ LIKE #{singleVarName} or name_ LIKE #{arrayVarName} or name_ LIKE #{mapVarName})
		order by name_
	</select>
	<select id="findGunixObjectByNameAndExecutionId" resultType="map">
		<include refid="constantes"/>
		<include refid="likeVarName"/>
		SELECT
			  id_ ,
			  rev_ ,
			  name_ as key,
			  ${DOUBLE_KEY},
			  ${LONG_KEY},
			  text_||COALESCE(text2_,'') as ${TEXT_KEY} 
			FROM
			  ACTIVITI.ACT_RU_VARIABLE 
			WHERE
			  EXECUTION_ID_ = #{executionId} and TASK_ID_ is null
		   AND rev_ >= (select rev_ from ACTIVITI.ACT_RU_VARIABLE v2 where v2.EXECUTION_ID_ = #{executionId} and v2.TASK_ID_ is null and v2.type_='${GUNIX_OBJECT}' and strpos(#{varName},v2.name_)=1)
			AND type_ in (${NOT_GUNIX_OBJECT_TYPES}) and (name_ LIKE #{singleVarName} or name_ LIKE #{arrayVarName} or name_ LIKE #{mapVarName})
		order by name_ 
	</select>
	<select id="findHistoricGunixObjectByNameAndExecutionId" resultType="map">
		<include refid="constantes"/>
		<include refid="likeVarName"/>
		SELECT
			  id_ ,
			  rev_ ,
			  name_ as key,
			  ${DOUBLE_KEY},
			  ${LONG_KEY},
			  text_||COALESCE(text2_,'') as ${TEXT_KEY} 
			FROM
			  ACTIVITI.act_hi_varinst
			WHERE
			  EXECUTION_ID_ = #{executionId} and TASK_ID_ is null
			AND var_type_ in (${NOT_GUNIX_OBJECT_TYPES}) and (name_ LIKE #{singleVarName} or name_ LIKE #{arrayVarName} or name_ LIKE #{mapVarName})
		   AND rev_ >= (select rev_ from ACTIVITI.act_hi_varinst v2 where v2.EXECUTION_ID_ = #{executionId} and v2.TASK_ID_ is null and v2.var_type_='${GUNIX_OBJECT}' and strpos(#{varName},v2.name_)=1)
		order by name_ 		
	</select>
	<select id="findHistoricGunixObjectByNameAndExecutionIdAndRevision" resultType="map">
		<include refid="constantes"/>
		<include refid="likeVarName"/>
		SELECT
			  id_ ,
			  rev_ ,
			  name_ as key,
			  ${DOUBLE_KEY},
			  ${LONG_KEY},
			  text_||COALESCE(text2_,'') as ${TEXT_KEY}  
			FROM
			  ACTIVITI.act_hi_varinst
			WHERE
			  EXECUTION_ID_ = #{executionId} and TASK_ID_ is null
			AND var_type_ in (${NOT_GUNIX_OBJECT_TYPES}) and (name_ LIKE #{singleVarName} or name_ LIKE #{arrayVarName} or name_ LIKE #{mapVarName}) 
		order by name_ 
	</select>
	<delete id="delete">
		<include refid="constantes"/>
		<include refid="likeVarName"/>
		delete from ACTIVITI.ACT_RU_VARIABLE where execution_id_ = #{executionId} and  name_ like #{singleVarName} and REV_ = #{revision} and type_ in (${NOT_GUNIX_OBJECT_TYPES}) 
	</delete>
</mapper>