Estimad@ $jossoUser.name,

La siguiente es la nueva contraseña que has solicitado: $jossoClearPassword

Para activarla por favor ve a la siguiente dirección electrónica:
$jossoConfirmUrl


Nota: La dirección electrónica tiene una caducidad de una hora, si ya pasó más de una hora desde que recibiste este correo deberás iniciar el proceso de restablecimiento de contraseña nuevamente