<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="mx.com.pipp.framework.domain.persistence.UsuarioMapper">
  <resultMap id="usuarioResultMap" type="mx.com.pipp.framework.domain.Usuario">
    <id property="idUsuario" column="ID_USUARIO"  />
    <result property="password" column="PASSWORD" />
    <result property="eliminado" column="ELIMINADO" />
    <result property="bloqueado" column="BLOQUEADO" />
    <result property="activo" column="ACTIVO" />
    <collection property="roles" ofType="mx.com.pipp.framework.domain.Rol">
      <id property="idRol" column="ID_ROL"/>
      <collection property="modulos" ofType="mx.com.pipp.framework.domain.Modulo">
      	<id property="idModulo" column="ID_MODULO"/>
      	<result property="descripcion" column="DESCRIPCION_MODULO" />
      	<result property="icono" column="ICONO" />
      	<collection property="funciones" ofType="mx.com.pipp.framework.domain.Funcion">
	      	<id property="idFuncion" column="ID_FUNCION"/>
	      	<result property="titulo" column="TITULO" />
	      	<result property="descripcion" column="DESCRIPCION_FUNCION" />
	      	<result property="processKey" column="PROCESS_KEY" />
	      	<result property="orden" column="ORDEN" />
	      	<association property="padre" javaType="mx.com.pipp.framework.domain.Funcion">
		      	<id property="idFuncion" column="ID_FUNCION_PADRE"/>
		      	<result property="titulo" column="TITULO_PADRE" />
		      	<result property="descripcion" column="DESCRIPCION_PADRE" />
		      	<result property="processKey" column="PROCESS_KEY_PADRE" />
		      	<result property="orden" column="ORDEN_PADRE" />
		      	<collection property="parametros" ofType="mx.com.pipp.framework.domain.Parametro">
			    	<id property="nombre" column="ID_PARAM_PADRE"/>
			    	<id property="valor" column="VALOR_PADRE"/>
		      	</collection>
	      	</association>
	      	<collection property="parametros" ofType="mx.com.pipp.framework.domain.Parametro">
		    	<id property="nombre" column="ID_PARAM"/>
		    	<id property="valor" column="VALOR"/>
	      	</collection>
      	</collection>
      </collection>
    </collection>
  </resultMap>
</mapper>