<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="mx.com.gunix.framework.security.domain.persistence.UsuarioMapper">
  <resultMap id="usuarioResultMap" type="mx.com.gunix.framework.security.domain.Usuario">
    <id property="idUsuario" column="ID_USUARIO"  />
    <result property="password" column="PASSWORD" />
    <result property="eliminado" column="ELIMINADO" />
    <result property="bloqueado" column="BLOQUEADO" />
    <result property="activo" column="ACTIVO" />
    <collection property="aplicaciones" ofType="mx.com.gunix.framework.security.domain.Aplicacion">
    	<id property="idAplicacion" column="ID_APLICACION"/>
    	<result property="descripcion" column="DESCRIPCION_APLICACION" />
	    <result property="icono" column="ICONO_APLICACION" />
	    <collection property="roles" ofType="mx.com.gunix.framework.security.domain.Rol">
	      <id property="idRol" column="ID_ROL"/>
	      <result property="descripcion" column="DESCRIPCION_ROL" />
	      <collection property="modulos" ofType="mx.com.gunix.framework.security.domain.Modulo">
	      	<id property="idModulo" column="ID_MODULO"/>
	      	<result property="descripcion" column="DESCRIPCION_MODULO" />
	      	<result property="icono" column="ICONO_MODULO" />
	      	<collection property="funciones" ofType="mx.com.gunix.framework.security.domain.Funcion">
		      	<id property="idFuncion" column="ID_FUNCION"/>
		      	<result property="titulo" column="TITULO" />
		      	<result property="descripcion" column="DESCRIPCION_FUNCION" />
		      	<result property="processKey" column="PROCESS_KEY" />
		      	<result property="orden" column="ORDEN" />
		      	<result property="horario" column="HORARIO" typeHandler="org.apache.ibatis.type.EnumTypeHandler" />
		      	<association property="padre" javaType="mx.com.gunix.framework.security.domain.Funcion">
			      	<id property="idFuncion" column="ID_FUNCION_PADRE"/>
			      	<result property="titulo" column="TITULO_PADRE" />
			      	<result property="descripcion" column="DESCRIPCION_PADRE" />
			      	<result property="processKey" column="PROCESS_KEY_PADRE" />
			      	<result property="orden" column="ORDEN_PADRE" />
			      	<collection property="parametros" ofType="mx.com.gunix.framework.security.domain.Parametro">
				    	<id property="nombre" column="ID_PARAM_PADRE"/>
				    	<id property="valor" column="VALOR_PADRE"/>
			      	</collection>
		      	</association>
		      	<collection property="parametros" ofType="mx.com.gunix.framework.security.domain.Parametro">
			    	<id property="nombre" column="ID_PARAM"/>
			    	<id property="valor" column="VALOR"/>
		      	</collection>
	      	</collection>
	      </collection>
	    </collection>
	</collection>
  </resultMap>
</mapper>