<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="mx.com.gunix.framework.security.domain.persistence.UsuarioMapper">
	<resultMap id="usuarioResultMap" type="mx.com.gunix.framework.security.domain.Usuario">
		<id property="idUsuario" column="ID_USUARIO" />
		<result property="password" column="PASSWORD" />
		<result property="eliminado" column="ELIMINADO" />
		<result property="bloqueado" column="BLOQUEADO" />
		<result property="activo" column="ACTIVO" />
		<association property="datosUsuario" javaType="mx.com.gunix.framework.security.domain.DatosUsuario">
			<id property="nombre" column="NOMBRE" />
			<id property="apPaterno" column="AP_PATERNO" />
			<id property="apMaterno" column="AP_MATERNO" />
			<id property="curp" column="CURP" />
			<id property="rfc" column="RFC" />
			<id property="correoElectronico" column="CORREO_ELECTRONICO" />
			<id property="telefono" column="TELEFONO" />
		</association>
		<collection property="aplicaciones" ofType="mx.com.gunix.framework.security.domain.Aplicacion">
			<id property="idAplicacion" column="ID_APLICACION" />
			<result property="descripcion" column="DESCRIPCION_APLICACION" />
			<result property="icono" column="ICONO_APLICACION" />
			<collection property="roles" ofType="mx.com.gunix.framework.security.domain.Rol">
				<id property="idRol" column="ID_ROL" />
				<result property="descripcion" column="DESCRIPCION_ROL" />
				<collection property="modulos" ofType="mx.com.gunix.framework.security.domain.Modulo">
					<id property="idModulo" column="ID_MODULO" />
					<result property="descripcion" column="DESCRIPCION_MODULO" />
					<result property="icono" column="ICONO_MODULO" />
					<collection property="funciones" ofType="mx.com.gunix.framework.security.domain.Funcion">
						<id property="idFuncion" column="ID_FUNCION" />
						<result property="titulo" column="TITULO" />
						<result property="descripcion" column="DESCRIPCION_FUNCION" />
						<result property="processKey" column="PROCESS_KEY" />
						<result property="orden" column="ORDEN" />
						<result property="horario" column="HORARIO" />
						<result property="viewEngine" column="VENGINE" />
						<association property="padre" javaType="mx.com.gunix.framework.security.domain.Funcion">
							<id property="idFuncion" column="ID_FUNCION_PADRE" />
							<result property="titulo" column="TITULO_PADRE" />
							<result property="descripcion" column="DESCRIPCION_PADRE" />
							<result property="processKey" column="PROCESS_KEY_PADRE" />
							<result property="orden" column="ORDEN_PADRE" />
							<collection property="parametros" ofType="mx.com.gunix.framework.security.domain.Parametro">
								<id property="nombre" column="ID_PARAM_PADRE" />
								<id property="valor" column="VALOR_PADRE" />
							</collection>
						</association>
						<collection property="parametros" ofType="mx.com.gunix.framework.security.domain.Parametro">
							<id property="nombre" column="ID_PARAM" />
							<id property="valor" column="VALOR" />
						</collection>
					</collection>
				</collection>
			</collection>
		</collection>
	</resultMap>
	<select id="getUsuario" resultMap="usuarioResultMap">
		select u.*, DU.curp, DU.rfc, DU.ap_paterno, DU.ap_materno, DU.nombre, DU.correo_electronico, DU.telefono from SEGURIDAD.menu_usuario(#{idUsuario}) u LEFT JOIN SEGURIDAD.DATOS_USUARIO DU ON (U.ID_USUARIO = DU.ID_USUARIO) order by u.id_aplicacion,u.id_rol,u.id_modulo,u.orden
	</select>
	<select id="getPasswordActual" resultType="java.lang.String">
		select password from SEGURIDAD.usuario where id_usuario = #{idUsuario}
	</select>
	<update id="updatePassword">
		update SEGURIDAD.usuario set password = #{encodePassword} where id_usuario = #{idUsuario}
	</update>
	<insert id="guardaSAMLSSOAuth">
		INSERT INTO SEGURIDAD.SAML_AUTHS(ID_APLICACION, ID_USUARIO, ID_SESION_LOCAL, ID_SESION_SSO) 
		VALUES(#{idAplicacion}, #{idUsuario}, #{localSessionID}, #{ssoIndex})
	</insert>
	<select id="getSAMLLocalSessions" resultType="java.lang.String">
		select id_sesion_local from SEGURIDAD.SAML_AUTHS where ID_APLICACION = #{idAplicacion} and ID_USUARIO = #{idUsuario} and ID_SESION_SSO = #{ssoIndex}
	</select>
	<delete id="deleteSAMLLocalSessions">
		<foreach collection="sesionesExpiradas" item="localSessionId" open="" separator=";" close="">
			delete from SEGURIDAD.SAML_AUTHS where ID_APLICACION = #{idAplicacion} and ID_USUARIO = #{idUsuario} and ID_SESION_SSO = #{ssoIndex} and ID_SESION_LOCAL = #{localSessionId}
		</foreach>
	</delete>
</mapper>